<!DOCTYPE html>
<html>

<head>

    <title>AI Smart Timetable</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>
        🤖 AI Smart Study Planner
    </h1>

    <form method="POST">

        <input type="text"
        name="subjects"
        placeholder="All Subjects Example: Math,Python,History"
        required>

        <br><br>

        <input type="text"
        name="hard_subjects"
        placeholder="Hard Subjects Example: Math,Python">

        <br><br>

        <label>
            Holiday Today?
        </label>

        <select name="holiday">

            <option>No</option>

            <option>Yes</option>

        </select>

        <br><br>

        <button type="submit">
            🚀 Generate AI Timetable
        </button>

    </form>

    <hr>

    <h2>
        📅 Today Timetable
    </h2>

    <div id="savedTimetable">

    {% for item in timetable %}

    <div class="box">

        <h2>
            📚 {{ item.subject }}
        </h2>

        <p>
            ⏰ {{ item.time }}
        </p>

        <p>
            📖 Study Duration:
            {{ item.hours }}
        </p>

        <p>
            ☕ {{ item.break_time }}
        </p>

    </div>

    {% endfor %}

    </div>

    <hr>

    <h2>
        📅 Next Day Timetable
    </h2>

    <div id="nextDayData">

    {% for item in nextday %}

    <div class="box">

        <h2>
            📚 {{ item.subject }}
        </h2>

        <p>
            ⏰ {{ item.time }}
        </p>

        <p>
            📖 Study Duration:
            {{ item.hours }}
        </p>

        <p>
            ☕ {{ item.break_time }}
        </p>

    </div>

    {% endfor %}

    </div>

    <hr>

    <h2>
        {{ holiday_message }}
    </h2>

<script>

// =========================
// SAVE USER SUBJECTS
// =========================

let subjects = [];

{% for item in timetable %}

subjects.push(
"{{ item.subject }}"
);

{% endfor %}

{% for item in nextday %}

subjects.push(
"{{ item.subject }}"
);

{% endfor %}

localStorage.setItem(

"subjects_" + "{{ session['user'] }}",

JSON.stringify(subjects)

);

// =========================
// SAVE USER TIMETABLE
// =========================

let timetableHTML =

document.getElementById(
"savedTimetable"
).innerHTML;

let nextdayHTML =

document.getElementById(
"nextDayData"
).innerHTML;

localStorage.setItem(

"savedTimetable_" + "{{ session['user'] }}",

timetableHTML

);

localStorage.setItem(

"savedNextday_" + "{{ session['user'] }}",

nextdayHTML

);

</script>

<br>

<a href="/dashboard">

<button>
🔙 Back Dashboard
</button>

</a>

</div>

</body>

</html>